<section ng-if="!id">
	<h1>
	   <a href="#/home">Parco macchine</a>
	</h1>
	<ul>
		<li ng-repeat="d in data">
			<a ng-href="#/macchine/{{d.id}}">{{d.macchina|uppercase}}</a>
		</li>
		<li>
			<a href="#/macchine/new" style="">
				Aggiungi Nuova
			</a>
		</li>
	</ul>
</section>

<section ng-if="id">
	<h1>
	   {{d.macchina|uppercase}} <span ng-hide="d.macchina">Nuova macchina</span>
	</h1>
	<form ng-submit="save()" class="well">
		<p class="form-group">
			<label>Macchina</label>
			<input ng-model="d.macchina" required autofocus />
			<input type="number" ng-model="d.kw" />
		</p>
			<button type="submit" title="Salva">
				Salva
			</button>
			<a accesskey="n"  href="#/auto/new">Nuova</a>
			<a accesskey="l"  href="#/auto">Elenco</a>
			<a accesskey="x" ng-click="remove()" href="#">Elimina</a>
	</form>
</section>